page-intro-tienda {
    #BodyIntroTienda{
        background-color:$primary;
        text-align:center;
        color:white;
    }
    #ContainerIntroTienda{
        width:80%;
        margin:0 auto;
        //margin-top:-6pc;
    }

    #fotofondo{
        height:50vh;
        max-width: none;
        z-index: 1;
    }
    #imagenlogo{
        height: 20px;
        margin-top: 43%;
        z-index: 5;
    }

    .circulo{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #fff;
        margin-top: -6pc;

                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: absolute;
        left: 30%;

    }

    #textobienvenida{
        margin-top: 70px;
    }
}  

