page-mapa-info {
    .content-md{
        background-color:#eee;
         //filter: blur(6px);
    }
    .card-md {
        margin-top:15px;
    }
    .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input{
        margin-left:10px;
    }

    ion-label.label.label-md{
        color: #000;
    }
.item-md ion-icon[item-left], .item-md ion-icon[item-right]{
     margin-left: 10px;
}

}


