<ion-header>
  <ion-navbar color="primary"> 
    <ion-title>Carrito</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page" >

  <div *ngIf="vacio==true" class="carrito-vacio">
    <img src="assets/carrito-vacio.png" />
    <p>Tu carro está vacio</p>
  </div>

<ion-card *ngIf="vacio==false">
  <ion-list> 
  

    <ion-item-sliding *ngFor="let c of cart">
      
      <ion-item>
        <ion-avatar item-left>
          <img [src]="c.imagen">
        </ion-avatar>
        <h2>{{c.nombre}}</h2>
        <p><s style="color: #f00">105.99€</s> <strong color="primary">{{c.precio}}€</strong></p>
        <ion-note item-right *ngIf="!escero" class="cant"><span (click)="decrement(c.codigo)" class="contador">-</span><span class="cantidad">{{c.cantidad}}</span><span (click)="increment(c.codigo)" class="contador2">+</span></ion-note>
        <ion-note item-right *ngIf="escero" class="cant"><span (click)="eliminarProducto(c.codigo)" class="contador"><ion-icon name="trash"></ion-icon></span><span class="cantidad">{{c.cantidad}}</span><span (click)="increment(c.codigo)" class="contador2">+</span></ion-note>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="eliminarProducto(c.codigo)">
          <ion-icon class="iconoeliminar"name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
<!--
     <ion-item-sliding>
      
      <ion-item>
        <ion-avatar item-left>
          <img [src]="'assets/cocacola.png'">
        </ion-avatar>
        <h2>Coca Cola</h2>
        <p><s style="color: #f00">105.99€</s> <strong color="primary">0,50€</strong></p>
        <ion-note item-right class="cant"><span (click)="decrement(c.codigo)" class="contador">-</span><span class="cantidad">0</span><span (click)="increment(c.codigo)" class="contador2">+</span></ion-note>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="eliminarProducto(c.codigo)">
          <ion-icon class="iconoeliminar"name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
-->
  </ion-list>
</ion-card>

  
</ion-content>
  
  <ion-footer class="pie" no-border no-shadow >
    <ion-toolbar color="light" hide-on-scroll="true">
      <ion-grid>
        <ion-row center>
          <ion-col width-50 class="linea-total"><span class="total">Total</span> <strong>{{total_pagar}} €</strong></ion-col>
          <ion-col width-50 class="boton-pagar"><button (tap)="pagar()" ion-button color="primary"><ion-icon name="card"></ion-icon>Pagar</button></ion-col>
        </ion-row>
     </ion-grid>
    </ion-toolbar>
  </ion-footer>
